body {
    background-color:tan;
    background-image: url("https://www.transparenttextures.com/patterns/arches.png");
}

header {
    text-align: right;
}

footer {
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 99%;
    height: 2.5rem;
  }
img {
    height: 10%;
    width: 10%;
    
}
img{
    transition: all 1s;
}
img:hover {
    transform: scale(1.3);
}
.propicdiv{
    position: fixed;
    margin-top: 0%;
}
.show {
    text-align: center;
    margin-top: 5%;
}
.name {
    font-size: 40px;
    font-family: serif;
    margin-bottom: 0%;

}
.intro {
    margin-top: 0%;
}
.socials {
    align-items:flex-start;
    height: 30%;
    width: 100%;
}
